<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" href="../assets/logooasis.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymus"></script>
</head>

<body>
    <main>
        <i class="fa-solid fa-circle-arrow-left" id="back"></i>
        <div class="container">
            <img src="../assets/login.svg" alt="">
            <section>
                <h1>Sign Up</h1>
                <div class="inp">
                    <div class="name">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="contra">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="contraseña" id="contra">
                        <i class="fa-solid fa-eye-slash" id="eye"></i>
                        <i class="fa-solid fa-eye" id="eye2"></i>
                    </div>
                    <div class="age">
                        <i class="fa-solid fa-person-cane"></i>
                        <input type="number" placeholder="edad" inputmode="numeric">
                    </div>
                </div>
                <button>Iniciar sesion</button>
            </section>
        </div>
    </main>

    <img src="../assets/circle.png" alt="" class="circle">

    <script src="../controller/login.js"></script>
</body>

</html>